<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body>
  <div class="container">    
    <%- include('./partials/nav')%>
    
    <section class="main">
        <%- include('./partials/header')%>
        <main>
            <% allBlogs.forEach(item => {%>
                <section class="post">
                    <h2 class="name"> <%= item.name %></h2>
                    <p class="description"><%= item.description %></p>
                    <p class="date"><%= item.date%></p>
                </section>
           <% })%>
        </main> 
    </section>
        
   </div>

</body>
</html>