<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')%>
<body>
  <div class="container">
   <%- include('./partials/nav')%>
  
  
  <section class="main">
    <%- include('./partials/header')%>
    <main >
    <section style="width: 800px;">
        <h3 >My Posts</h3> 
        <div class="myblogs">
            
              <% userBlogs.forEach(item => {%>
                <div style="display: flex; flex-direction: column; align-items: flex-start;">
                  <h5 class="<%= item.content%>"><%= item.content%></h5>
                  <p class="description">post: <%= item.description%></p>
                  <p class="date">Date: <%= item.date%></p>
                  <button type="button" class='button-59 delete' id='<%=item._id%>'>Delete</button>
                </div>
              <%})%>
        
    </section>   
  </main>
  </section>
</div>
</body>
</html>


