<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')%>
<body>
  <div class="container">
   <%- include('./partials/nav')%>
  
  
  <section class="main">
    <%- include('./partials/header')%>
    <main >
    <section>
        <h3 >My blogs</h3> 
        <div>
            <div >
              <% userBlogs.forEach(item => {%>
                <h5 ><%= item.content></h5>
                <p ><%= item.description%></p>
                <p><%= item.date%></p>
                <button type="button">Delete</button> 
              <%})%>
        </div>
    </section>   
  </main>
  </section>
</div>
</body>
</html>
